*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background-color: #48C5CE;
    color: white;
    text-align: center;
    padding: 10px;
}

.title{
    font-size: 12px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

section{
    padding: 20px;
    background-image: url(../img/people.jpg);
    background-size: cover;
    overflow: hidden;
}
.formcontainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

input[type="submit"]{
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    margin-left: 40px;
    max-width: 40%;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width: 500px){
    .formcontainer{
        max-width: 280px;
        background-color: #FFFFFFBB;
        padding: 20px;
        float:none;
    }
}